// Define variables for your color scheme

// For example:
$red: #ac3234;
$blue: #429396;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(128, 128, 128);
$light-gray: #F4F4F4;
$meet-dark-gray: rgba(24,24,24,0.83);
$meet-light-gray:rgb(180,180,180);
