
.container {
  margin: 20px;
  padding: 20px;
}
.main-content {
  margin: 20px;
}

// .main-content {
//   margin: 20px;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // flex-direction: column;
// }

.profile-card {
    // display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    // border: 1px solid #ccc;

  .user-img {
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }
}
.list-group {


.list-group-item {
  margin: 20px;
  border-radius: 8px;
}
}
