.profile-right-container {

  justify-content: center;
  flex: 0 0 26%;
  padding-inline: 10px;
  padding-right: 15px;

  .list-group {
    background-color: rgba(0,0,0,0.1);
  .list-group-item {
    background-color: rgba(0,0,0,0.1);
  }
  }
  .btn {
    margin: 15px;
    width: 80%;
    border: 1px solid $meet-dark-gray;
    border-radius: 5px;
  }
  h2 {
    padding-top: 8px;
    margin-top: 8px;
  }
}


.profile-card {
    // display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    // border: 1px solid #ccc;

  .user-img {
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }
}

.card-border {
  .card-index {
    .card {
      width: 100%;
      height: 240px;
      object-position: bottom;
      bottom: 0;
      border-radius: 5px;
    }
  }
}

.title-index {
  justify-content: center;
  .list-group {
    background-color: rgba(0,0,0,0.1);
    justify-content: center;

  .list-group-item {
    background-color: rgba(0,0,0,0.1);
    justify-content: center;
  }
  }

}

.profile-actions {
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-left: 28px;
  .button-center {
    display: flex;
    justify-content: center;
    margin-left: 28px;
  }
  .btn{
    margin: 15px;
    width: 80%;
    border: 1px solid $meet-dark-gray;
    border-radius: 5px;
  }
}

.profile-middle-container {
  .pending {
    color: $red;
    padding-top: 5px;
  }
  .approved {
    color: $primary;
    padding-top: 5px;
  }
}

.venue-actions {
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
}
