<div class="container row justify-content-center">
<h1>My messages</h1>
</div>

  <% @chatrooms.each do |chatroom| %>
    <% if current_user == chatroom.booking.user %>
      <% other_user = chatroom.booking.venue.user.username%>
    <% else %>
      <% other_user = chatroom.booking.user.username %>
    <% end %>
    <li><%= link_to "#{chatroom.booking.venue.name} booking on #{chatroom.booking.booking_date} between you and #{other_user}", chatroom_path(chatroom) %></li>

    <% end %>
</ul>
