<div class='container'>
  <h1>Request to book this bag</h1>
    <%= simple_form_for([@venue, @booking]) do |f| %>
      <%= f.input :booking_date %>

      <%= f.input :comment, placeholder: 'Message to host' %>
      <%= f.submit %>
    <% end %>
</div>
