<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <% @venue.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= "active" if index.zero? %>">
        <%= cl_image_tag photo.key, alt: @venue.name, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carousel-image">
    <div class="carousel-item active">
      <img src="assets/1.jpg" class="d-block w-100" alt="one">
    </div>
    <div class="carousel-item carousel-image">
      <img src="assets/2.jpg" class="d-block w-100" alt="two">
    </div>
    <div class="carousel-item carousel-image">
      <img src="assets/3.jpg" class="d-block w-100" alt="3">
    </div>
  </div>
</div>
