<div class="footer mt-4">

    <div class="row d-flex align-items-center">
      <div class="col-md-4 text-left">
        <address>
          1 Hyde Park,<br>
          London,<br>
          United Kingdom
        </address>
      </div>
      <div class="col-md-4 text-center">

        <h5>Network &bull; Meet &bull; Spaces</h5>

        <p>info@meetspace.com</p>
      </div>
      <div class="col-md-4 text-right">
        <div class="social-icons">
          <a href="#" class="mx-2"><i class="fab fa-facebook"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-instagram"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
</div>
