<div class="footer mt-4">
    <div class="footer-content text-center">
      <h2>Meetspace</h2>
      <p>Network &lt;&gt; Meet &lt;&gt; Spaces</p>
      <address>
        1 Hyde Park,<br>
        London,<br>
        United Kingdom
      </address>
    </div>
    <div class="social-icons text-center">
      <a href="#" class="mx-2"><i class="fab fa-facebook"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-linkedin"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-instagram"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-youtube"></i></a>
    </div>
</div>
