<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: venues_path, method: :get, class: "d-flex align-items-center" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-2",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
