.cards-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline-end: 0%;
  margin-inline-start: 4%;
  margin-block: 0%;
  max-width: 1200px;
  min-width: 800px;
  padding: 20px;
  height: fit-content;
  h1 {
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 15px 0px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 10px 0px;
    color: whitesmoke;
  }
}

.profile-middle-container {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-inline-end: 2px;
  margin-inline-start: 2px;
  margin-block: 2px;
  max-width: 1200px;
  padding: 5px;
  p {
    color: whitesmoke;
  }
}

.cards-profile-container {
  flex: 0 0 22%;
  margin-inline-end: 10px;
  margin-inline-start: 50px;
  margin-block: 2px;
  max-width: 400px;
  padding: 5px;
  h1 {
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 15px 0px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 10px 0px;
    color: whitesmoke;
  }
}

.profile-right-container {
  height: 100vh;
  position: sticky;
  top: 10px;
  flex: 0 0 20%;
  justify-content: space-center;
  text-align: center;
  border-left: 2px solid $meet-dark-gray;
  border-top: 2px solid $meet-dark-gray;
  border-radius: 2px;
  background-color: $primary;
  margin-inline-end: 0px;
  margin-inline-start: 2px;
  margin-block: 2px;
  max-width: 1200px;
  padding-top: 10px;
  padding-inline-end: 50px;
  p {
    color: whitesmoke;
  }
  h2 {
    color: whitesmoke;
    font-weight: bolder;
  }
}

.card-border {
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  background-color: $meet-dark-gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  img {
    width: 100%;
    height: 230px;
    object-position: bottom;
    bottom: 0;
    border-radius: 5px;
  }
  h2 {
    font-size: 25px;
    margin: 2px 0px;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 3px;
  }
  .address {
    height: 45px
  }


}

#map {
  margin-right: 40px;
  margin-top: 160px;
  flex: 0 0 28%;
  height: 100vh;
  position: sticky;
  top: 0px;
}
#index {
  border: 1px solid $primary;
}

.title-index {
  flex: 1 0 100%;
  width: 100%;
  text-align: center;

}
.card-index {
  a {
    text-decoration: none;
    color: $primary;
  }

  background-color: $meet-dark-gray;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  padding-top: 10px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
  flex: 0 0 30%;
  border-radius: 5px;
  img {
    width: 100%;
    height: 230px;
    object-position: bottom;
    bottom: 0;
    border-radius: 5px;
  }
  h2 {
    font-size: 25px;
    margin: 2px 0px;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 3px;
  }
  .address {
    height: 45px
  }
}
