/* Footer style brothaa */
.footer {

  background-color: #d3d3d3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  // position: relative;
  // justify-content: flex-end;


  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  color: gray;
}
.footer h5 {
  margin: 0;
  color: black;
}
.footer-content h2 {
  margin: 0;
  color: black !important;
}
// .row {
//   margin: 0;
// }

.footer-content p {
  margin: 5px 0;

}
address {
  margin-left: 0;
  color: gray
}


.social-icons {
  font-size: 25px;

  gap: 10px;
  margin-right: 10;
  padding-right: 20px;
  text-align: right;
}

.social-icons a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: inherit;
}

.social-icons .fa-facebook {
  color: #3b5998;
}

.social-icons .fa-linkedin {
  color: #0077b5;
}

.social-icons .fa-instagram {
  color: #e4405f;
}

.social-icons .fa-youtube {
  color: #ff0000;
}
