.container-layout {
  flex: 1;
  margin: 20px;
  padding: 20px;
}

.main-container {
  display: flex;
}

.profile-right-container {
  text-align: left;
  justify-content: space-between;
  flex: 0 0 22%;
  padding-inline: 10px;
  padding-right: 15px;

  .list-group {
    background-color: rgba(0,0,0,0.1);
  .list-group-item {
    background-color: rgba(0,0,0,0.1);
    text-align: left;
  }
  }

}
