.container-layout {
  flex: 1;
  margin: 20px;
  padding: 20px;
}

.main-container {
  display: flex;
}


.profile-page-container {
  justify-content: space-between;
  flex: 1 0 100%;
  padding-inline: 10px;

}
