.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 15px;
  padding: 8px;
  min-height: 80px;
  border: 1px;
}

.sender-style {
  background-color: $meet-light-gray;
  p {
    color: whitesmoke;
    font-weight: 700;
  }
}

.receiver-style {
  background-color: lightblue;
}
