.navbar-meet {
  justify-content: space-between;
  background: $meet-dark-gray;
  a {
    color: $light-gray;

    &:hover {
      color: $light-gray;
    }
    nav-link {
      color: $white;
      font-weight: bold;
    }
  }
}

.navbar-meet .navbar-collapse {
  flex-grow: 0;
}

.navbar-meet .navbar-brand img {
  width: 40px;
}
