.navbar-meet {
  justify-content: space-between;
  background: $meet-dark-gray;
  a {
    color: $light-gray;
    font-weight: bold;
    &:hover {
      color: $primary;
      transition-duration: 0.5s;
    }
    & nav-link { // Add the missing & symbol before nav-link
      color: $white;
      font-weight: bold;
    }
  }
}

.navbar-meet .navbar-collapse {
  flex-grow: 0;
}

.navbar-meet img {
  width: 40px;
}

#logo-word {
  width: 150px;
}

#logo {
  width: 60px;
  margin-inline-start: 20px;
}
