/* Assuming this is part of your SCSS file */
.venue-card {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.venue-card h2 {
  margin-bottom: 10px;
}

.venue-card p {
  margin-bottom: 5px;
}
.venue-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 5px;

}
.venue-card .venue-images {
  margin-top: 10px;
}



// .venue-card .venue-images img {
//   max-width: 50%;
//   height: auto;
//   width: 100%;
//   border-radius: 8px;
//   margin-bottom: 5px;
// }


