<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4" col-sm-offset-4>
      <div class="form-login">
        <div class="container">
          <div class="row" data-controller="star-rating" >
            <div class="col-xs-4">
              <%= simple_form_for([@venue, @review]) do |f| %>
                <%= f.input :content %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
